ul {
  list-style: none;
  border: 1px solid black;
  width: max-content;
  height: max-content;
  padding: 0.5%;
}

li {
  padding: 1%;
  font-size: 20px;
  padding: 15px;
}

a {
  text-decoration: none;
  color: blue;
}

.v-nav-item {
  background: aqua;
}
.v-nav-item:hover {
  background: orange;
}
.h-nav-item {
  display: inline-block;
  margin-right: -4px;
  background: rgb(193, 193, 193);
  border-right: 0.5px solid blue;
}
.h-nav-item:hover {
  background: grey;
}
